# Clustering Retail Sales Data
Customer Shopping Dataset

In [93]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [95]:
dataset = pd.read_csv('data/customer_shopping_data.csv')
train = dataset[['age', 'price']].copy()
train.head()

   age    price
0   28  1500.40
1   21  1800.51
2   20   300.08
3   66  3000.85
4   53    60.60

In [96]:
scaler = StandardScaler().fit(train)
X = scaler.transform(train)

In [99]:
k=3
kmeans=KMeans(n_clusters=k)
y_pred=kmeans.fit_predict(X)

In [101]:
print(kmeans.cluster_centers_)
train['cluster'] = y_pred
train.head()

[[-9.68849552e-04  2.56772934e+00]
 [-8.66011801e-01 -2.42823815e-01]
 [ 8.76733021e-01 -2.37985599e-01]]

   age    price  cluster
0   28  1500.40        1
1   21  1800.51        1
2   20   300.08        1
3   66  3000.85        0
4   53    60.60        2

In [117]:
cluster_analysis = train.groupby('cluster').agg({
    'price': ['mean', 'count'],
    'age': 'mean'
}).reset_index()
cluster_analysis.columns = ['cluster', 'avg_spent', 'customer_count', 'avg_age']

print("Cluster Analysis Summary:")
display(cluster_analysis)
print(f"Total of customer_count: {cluster_analysis['customer_count'].sum()}")

Cluster Analysis Summary:

   cluster    avg_spent  customer_count    avg_age
0        0  3116.112236            8444  43.393179
1        1   462.119779           45794  30.451413
2        2   466.100556           45219  56.574095

Total of customer_count: 99457